<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content class="post-size-14px">
        <ion-nav-bar class="bar-stable bar-positive">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="MainContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" class="main-menu" expose-aside-when="large">
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.dashboard">
                    <i class="icon ion-grid"></i>
                    <h2 class="menu-text">Dashboard</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.pontos">
                    <i class="icon ion-android-stopwatch"></i>
                    <h2 class="menu-text">Pontos</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.contracheque">
                    <i class="icon ion-android-done-all"></i>
                    <h2 class="menu-text">Contracheque</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.graficos">
                    <i class="icon ion-android-list"></i>
                    <h2 class="menu-text">Gráficos</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.perfil">
                    <i class="icon ion-person"></i>
                    <h2 class="menu-text">Perfil</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear menu-close ui-sref="app.configuracao">
                    <i class="icon ion-gear-a"></i>
                    <h2 class="menu-text">Configurações</h2>
                </ion-item>
                <ion-item class="item-icon-left" nav-clear  menu-close log-out>
                    <i class="icon ion-log-out"></i>
                    <h2 class="menu-text">Sair</h2>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
