<ion-view view-title="Configurações" class="settings-view">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list">
            <div class="item item-divider">Configurações do trabalho</div>
            <label class="item item-input">
                <span class="input-label">Horário de entrada</span>
                <input type="datetime" ng-model="vm.Configuracao.HorarioDeEntrada" step="30"/>
            </label>
            <label class="item item-input">
                <span class="input-label">Horário de saída</span>
                <input type="datetime" ng-model="vm.Configuracao.HorarioDeSaida" />
            </label>
            <ion-toggle ng-model="vm.Configuracao.ControlaAlmoco" toggle-class="toggle-positive">Controla almoço?</ion-toggle>
            <label class="item item-input" ng-if="vm.Configuracao.ControlaAlmoco">
                <span class="input-label">Horário de entrada do almoço</span>
                <input type="datetime" ng-model="vm.Configuracao.HorarioDeEntradaDoAlmoco" />
            </label>
            <label class="item item-input" ng-if="vm.Configuracao.ControlaAlmoco">
                <span class="input-label">Horário de saída do almoço</span>
                <input type="datetime" ng-model="vm.Configuracao.HorarioDeSaidaDoAlmoco" />
            </label>
            <label class="item item-input">
                <span class="input-label">Salário base</span>
                <input type="text" ng-model="vm.Configuracao.SalarioBruto" ui-money-mask="2" />
            </label>
            <label class="item item-input">
                <span class="input-label">Número de meses do ciclo</span>
                {{vm.Configuracao.MesesDoCiclo}}
            </label>
            <div class="item range range-positive">
                <i class="icon ion-minus-round"></i>
                <input type="range" ng-model="vm.Configuracao.MesesDoCiclo" min="1" max="12" />
                <i class="icon ion-plus-round"></i>
            </div>

            <!-- <div class="item item-divider">CHECKBOXES</div>

            <ion-checkbox ng-model="checkOpt1">Option 1</ion-checkbox>
            <ion-checkbox ng-model="checkOpt2">Option 2</ion-checkbox>
            <ion-checkbox ng-model="checkOpt3">Option 3</ion-checkbox>

            <div class="item item-divider">RADIO</div>

            <ion-radio ng-model="radioChoice" ng-value="'A'">Choose A</ion-radio>
            <ion-radio ng-model="radioChoice" ng-value="'B'">Choose B</ion-radio>
            <ion-radio ng-model="radioChoice" ng-value="'C'">Choose C</ion-radio>

            <div class="item item-divider">RANGES</div>

            <div class="range">
                <i class="icon ion-volume-low"></i>
                <input type="range" name="volume" />
                <i class="icon ion-volume-high"></i>
            </div>
            <div class="item range range-positive">
                <i class="icon ion-ios-sunny-outline"></i>
                <input type="range" name="volume" min="0" max="100" value="33" />
                <i class="icon ion-ios-sunny"></i>
            </div> -->

            <div class="item item-divider"></div>
            <button class="button button-block button-positive">
                Salvar
            </button>
        </div>
    </ion-content>
</ion-view>
