<ion-view view-title="Contracheque">
	<ion-nav-buttons side="left">
		<button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
	</ion-nav-buttons>
    <ion-content class="padding">
        <ion-list can-swipe="true">
            <ion-item class="item-divider">Mês de referência: {{vm.ContraCheque.MesDeReferencia}}</ion-item>
            <!-- <ion-item class="item-stacked-label">
                <span class="input-label">Salário bruto</span>
                <span class="text-right">{{vm.ContraCheque.ValorBruto | currency }}</span>
            </ion-item> -->
            <ion-item class="item-divider">Entradas</ion-item>
            <ion-item class="item-stacked-label" ng-repeat="entrada in vm.ContraCheque.Entradas">
                <span class="input-label">{{entrada.Descricao}}</span>
                <span class="text-right">{{entrada.Valor | currency : 'R$' }}</span>
            </ion-item>
            <ion-item class="item-divider">Saidas</ion-item>
            <ion-item class="item-stacked-label" ng-repeat="saida in vm.ContraCheque.Saidas">
                <span class="input-label">{{saida.Descricao}} </span>
                <span class="text-right">{{saida.Valor*-1 | currency : 'R$' }}</span>
            </ion-item>
            <ion-item class="item-divider">Salário líquido</ion-item>
            <ion-item class="item-stacked-label">
                <span class="input-label">Salário líquido</span>
                <span class="text-right">{{vm.ContraCheque.ValorLiquido | currency : 'R$' }}</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
