<ion-view view-title="Dashboard" hide-back-button="true">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-text-wrap">
				<h1 class="text-center">{{vm.Relogio}}</h1>
				<p class="message" align="center">Horas trabalhadas</p>
			</div>
		</div>
		<div class="card">
			<div class="list card">
				<span class="item item-icon-left">
					<i class="icon ion-arrow-right-c"></i> Entrada: {{ vm.PontosDoDia.HorarioDeEntrada | date }}
				</span>
				<span class="item item-icon-left">
					<i class="icon ion-arrow-return-right"></i> Entrada almoço: {{ vm.PontosDoDia.HorarioDeEntradaDoAlmoco }}
				</span>
				<span class="item item-icon-left">
					<i class="icon ion-arrow-return-left"></i> Saída almoço: {{ vm.PontosDoDia.HorarioDeSaidaDoAlmoco }}
				</span>
				<span class="item item-icon-left">
					<i class="icon ion-arrow-left-c"></i> Saída: {{ vm.PontosDoDia.HorarioDeSaida }}
				</span>
			</div>
		</div>
		<button class="button button-block button-outline button-balanced icon ion-clock button-rounded" ng-click="vm.MarcarPonto()">
			Efetuar marcação
		</button>
	</ion-content>
</ion-view>
