<ion-view view-title="Dashboard" hide-back-button="true">
	<ion-content class="padding">
		<div class="card">
			<div class="item item-text-wrap">
				<h1 class="text-center">{{vm.Relogio}}</h1>
				<p class="message" align="center">Horas trabalhadas hoje</p>
			</div>
		</div>
		<div class="card">
			<span class="item item-icon-left">
				<i class="icon ion-arrow-right-c"></i> Entrada: {{ vm.PontosDoDia.HorarioDeEntrada | date : 'HH:mm:ss' }}
			</span>
			<span class="item item-icon-left">
				<i class="icon ion-arrow-return-right"></i> Entrada almoço: {{ vm.PontosDoDia.HorarioDeEntradaDoAlmoco | date : 'HH:mm:ss' }}
			</span>
			<span class="item item-icon-left">
				<i class="icon ion-arrow-return-left"></i> Saída almoço: {{ vm.PontosDoDia.HorarioDeSaidaDoAlmoco | date : 'HH:mm:ss' }}
			</span>
			<span class="item item-icon-left">
				<i class="icon ion-arrow-left-c"></i> Saída: {{ vm.PontosDoDia.HorarioDeSaida | date : 'HH:mm:ss' }}
			</span>
		</div>
		<button class="button button-block button-balanced icon ion-clock button-rounded" ng-disabled="vm.bloqueiaBotao" ng-click="vm.MarcarPonto()">
			Marcar ponto
		</button>

		<!-- {{vm.tag}} -->
	</ion-content>
</ion-view>
